<div class="container overall-form">

      <div class="form">
        <%= simple_form_for(@cocktail) do |f| %>
          <% if @cocktail.errors.any? %>
            <div class="errors-container">
              <ul>
                <% @cocktail.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>


          <div class="group">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>

          <div class="group">
            <%= f.label :description %>
            <%= f.text_field :description %>
          </div>

          <div class="group">
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>

          <%= f.submit "Create!", class: "btn btn-primary" %>
        <% end %>

  </div>
</div>
